body {
    background-color: #e9eec9;
    text-align: center;
}
table, td, th{
  border: 1px solid black;
}
table{
 margin: auto;
 border-collapse: collapse;
}
th{
  background-color: #bbbbbb;
  border: ;
}